ol {
	padding-left: 1.3em;
}

ol, ul {
	&.lead {
		font-size: 16px;
		@media (max-width: 767px) {
		font-size: 13px;
		}
	}

}

.center-transform {
	transform-style: preserve-3d;
}
.center-transform > * {
	position: relative;
	top: 50%;
	left: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
}