.-image-square-effect {
	$transitionWidth: 20vw;

	.image {
		padding: 0;
		overflow: hidden;
		background-color: #444;
		@media (max-width: 990px) {
			height: 70vw;
		}
	}
	.img_hover {
		position: absolute;
	    top: 0;

	    height: 100%;
	    width: $transitionWidth;
		
		// padding: 10px;
	    background-color: white;

	    

	    img {
		    min-width: initial;
		    min-height: initial;
		    max-width: 100%;
		    max-height: 100%;
	    }
	    @media (max-width: 991px) {
		    width: auto;
		}
	}
	.background-image-holder, {
		overflow: hidden;
	}










	/*
	 * animation bg
	 */
	.background-image-holder {
		will-change: transform, opacity;
		transition: all 0.3s ease-in-out;
	}



	// hover state
	&.-image-square-effect.-is-hover {

		&.left {
			.background-image-holder {
				transform: translate(-$transitionWidth,0);
				
				// animation: open .5s ease-in-out;
				// animation-fill-mode: forwards;
				// // animation-iteration-count: 1;
			}
		} 
		&.right {

			.background-image-holder {
				transform: translate($transitionWidth,0);
			}
		}
		@media (max-width: 991px) {
		    &.left .background-image-holder,
		    &.right .background-image-holder {
				transform: none;
		    }
		}
	}





	/*
	 * animation img
	 */
	.img_hover {
		will-change: transform, opacity;
		transition: all 0.3s ease-in-out;
		
	}
	.img_hover {
		transition: all 0.4s ease-out;
		opacity: 0;

		@media (max-width: 991px) {
	    opacity: 1;
	    z-index: 2;
		}	
	}
	

	// init state
	&.left {
		.img_hover {
			right: 0;
			transform: translate( $transitionWidth - 10vw,0) scale(.8);
		}
	}
	&.right {
		.img_hover {
			left: 0;
			transform: translate(-$transitionWidth + 10vw,0) scale(.8);
		}
	}
	@media (max-width: 991px) {
	&.left,
	&.right {
		.img_hover {
			left: 3%;
			right: auto;
			transform: none;
		}
	}
	}



	// hover state
	&.-image-square-effect.-is-hover {
		&.left,
		&.right {
			.img_hover {
				opacity: 1;
				transform: translate(0,0) scale(1);
			}
		}
	}



}




/* fix vertical center position */
.lt-ie10 .image-square .content {
	transform: translate(0, -50%);
}

