.-image-square-effect {
	$transitionWidth: 20vw;

	.image {
		padding: 0;
		overflow: hidden;
		background-color: #444;
	}
	.img_hover {
		position: absolute;
	    top: 0;

	    height: 100%;
	    width: $transitionWidth;
		
		// padding: 10px;
	    background-color: white;

	    img {
		    min-width: initial;
		    min-height: initial;
		    max-width: 100%;
		    max-height: 100%;
		    
		    // width: 100%;
		    // height: auto;
		   
	    }
	}
	.background-image-holder, {
		overflow: hidden;
	}










	/*
	 * animation bg
	 */
	.background-image-holder {
		will-change: transform, opacity;
		transition: all 0.3s ease-in-out;
	}



	// hover state
	&.-image-square-effect.-is-hover {

		&.left {
			.background-image-holder {
				transform: translate(-$transitionWidth,0);
				

				// animation: open .5s ease-in-out;
				// animation-fill-mode: forwards;
				// // animation-iteration-count: 1;
			}
		} 
		&.right {

			.background-image-holder {
				transform: translate($transitionWidth,0);
			}
		}
	}





	/*
	 * animation img
	 */
	.img_hover {
		will-change: transform, opacity;
		transition: all 0.3s ease-in-out;
		
	}
	.img_hover {
		transition: all 0.4s ease-out;
		opacity: 0;
	}
	

	// init state
	&.left {
		.img_hover {
			right: 0;
			transform: translate( $transitionWidth - 10vw,0) scale(.8);
		}
	}
	&.right {
		.img_hover {
			left: 0;
			transform: translate(-$transitionWidth + 10vw,0) scale(.8);
		}
	}



	// hover state
	&.-image-square-effect.-is-hover {
		&.left,
		&.right {
			.img_hover {
				opacity: 1;
				transform: translate(0,0) scale(1);
			}
		}
	}



}




/* fix vertical center position */
.lt-ie10 .image-square .content {
	transform: translate(0, -50%);
}

