/* additional space first content after headernav */
.main-container > .height_small:first-child {
	padding-top: 120px;
}





.parallax.height_small>.background-image-holder{
	@media (max-width: 767px) {
	    height: 400px;
	}
}
.background-image-holder {
	.-small & {
		background-position: 50% 100% !important;
	}
}

.lt-ie10 .background-image-holder {
	height: 100%;
	top: 0;
}